# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*.local

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
.tmp/

# OS
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.sw?

# React-specific
*.local
*.cache
coverage/
public/static/
